{% extends "layout.html" %}
{% block content %}
<h3>プロフィール</h3>
<!-- <table border=1>
<tr>
<th>ID</th>
<th>名前</th>
<th>年齢</th>
<th>性別</th>
<th>編集</th>
</tr>
{% for user in users %}
<tr>
<td>{{ user.id }}</td>
<td>{{ user.name }}</td>
<td>{{ user.age  }}</td>
<td>{{ user.sex  }}</td>
<td><a href='edit/{{user.id}}'>編集</a></td>
</tr>
{% endfor %}
</table> -->
{% for data in user %}
<p>
名前：{{ data.name }}
年齢：{{ data.age }}
性別：{{ data.sex }}
</p>
<p><a href = "/edit/{{ data.id }}">プロフィールを編集する</a></p>
<p><a href = "/delete/{{ data.id }}">プロフィールを削除する</a></p>

{% endfor %}
<p><a href = "/add">プロフィールを追加する</a></p>
{% endblock %}
